.app-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #832f83, #f1daf1);
}

.user-form {
    padding: 25px;
}

input {
    margin-right: 5px;
}

p.error {
    font-size: 12px;
}

.checkbox-container {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

.user-card {
    width: 300px;
    height: auto;
    padding: 25px;
    margin-top: 25px;
    background-color: plum;
    font-size: 14px;
    border: 1px solid #832f83;
    border-radius: 10px;
}

